/* GLOBAL */
.container-fluid {
    font-family: 'Work Sans', sans-serif;
}

#main-content-body {
    background-image:
    linear-gradient(
      to bottom right, 
      rgb(0, 0, 0),
      #25282b,
      #343a40
    );
}

a {
    color: #f8f9fa;
    text-decoration: none; /* no underline */
}

a:hover {
    color: #f8f9fa;
    text-decoration: none;
}

h5 {
    font-size: 14px;
    color: #7EB723;
    text-transform: uppercase;
    margin: 10px 0;
}

/* TOP NAV */
#cl-logo {
    height: 65%;
    width: 65%;
    margin: 0 20px;
}

.navbar {
    border-bottom: 1px solid #000;
}

#stock-ticker {
    background-image:
    linear-gradient(
        to right,
      rgb(0, 0, 0),
      #25282b
    );
    border-bottom: 1px solid #343a40;
}

/* SIDE NAV */
#sideBarCol {
    height: 100vh;
}

#sideBarCol {
    background-image:
    linear-gradient(
      to top right, 
      #343a40, rgb(0, 0, 0)
    );
    border-right: 1px solid #343a40;
}

.panel-title>.addChevron, .panel-title>.addChevron:active{
    text-decoration:none;
}

.panel-heading  .addChevron:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.panel-heading  .addChevron:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
    float: right;
    transition: all 0.5s;
}
.panel-heading.active  .addChevron:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 

.custom-select:disabled {
    color: #000000;
    background-color: #6c757d;
}

/* CHARTS */
#stockWeightAvg{
    display: none;
}

#cryptoWeightAvg{
    display: none;
}

#stockChartPlot{
    height: 500px;
}

#stockChartCard{
    display: none;
}

#currChartPlot{
    height: 500px;
}

#currChartCard{
    display: none;
}

.taiwanLabel{
    white-space: nowrap
}

.display-4 {
    z-index: 2;
}

#logo {
    height: 50%;
    width: 50%;
}