
#stockWeightAvg{
    display: none;
}

#cryptoWeightAvg{
    display: none;
}

#stockChartPlot{
    height: 500px;
}

#stockChartCard{
    display: none;
}

#currChartPlot{
    height: 500px;
}

#currChartCard{
    display: none;
}

.taiwanLabel{
    white-space: nowrap
}


.display-4 {
    z-index: 2:
}

#logo {
    height: 50%;
    width: 50%;
}
